/* Main stylesheet */
body {
    /*background: #dddddd;*/

}

table {
    width: auto;
}

tr {
    height: 20px;
}

td {
    width: 50px;
    height: 50px;
    border: solid 1px #000000;
}

section {
    border: solid 1px #000000;
    margin: 10px;
}

dt, dd {
    margin-left: 20px;
    display: inline-block;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 38%;
    padding: 0;
    margin: 0 0 0 4%;
}

dd {
    float: left;
    width: 58%;
    padding: 0;
    margin: 0
}

#fightersNav ul {
    list-style: none;
}

#fightersNav li {
}

.tab {
    display: inline-block;
    margin: 5px;
    padding: 0 10px;
    border: solid 1px #000000;
    cursor: pointer;
}

.chosen {
    border: solid 2px #000000;
}

/* Sight */
.case {
    text-align: center;
    width: 40px;
    height: 40px;
}

.clickable {
    cursor: pointer;
}

.center {
    background-color: #FFCECD;
}

.selected {
    background-color: #FFAAA8;
}

.greyed {
    background-color: #999999;
}

#sightMain {
    display: flex;
}

#myInfos {
    flex-grow: 0;
    margin: 0;
    border-width: 0;
    background: #AF3F3C;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 600px;
    width: 25%;
    box-sizing: border-box;
}

#myInfos h3 {
    color: #FFCECD;
    text-align: center;
}

#myInfos h4 {
    color: #AF3F3C;
}

#myInfos article {
    background: #FFCECD;
    color: #AF3F3C;
    padding: 0 10px;
}

#otherInfo {
    background: #AF3F3C;
    flex-grow: 0;
    margin: 0;
    border-width: 0;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 600px;
    width: 17.5%;
    box-sizing: border-box;
}

#otherInfo h3 {
    color: #FFCECD;
    text-align: center;
}

#otherInfo h4 {
    color: #AF3F3C;
}

#otherInfo article {
    background: #FFCECD;
    color: #AF3F3C;
    padding: 0 10px;
}

#midColumn {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.avatar {
    height: 200px;
}

.noBorder {
    border-width: 0;
}

.actionButton {
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 60px;
    background: #AF3F3C;
    font-size: 40px;
    line-height: 40px;
    color: #FFCECD;
    padding: 10px 30px;
    box-sizing: border-box;
}

.actionButton:hover {
    opacity:0.8;
}

footer {
    background: #FFCECD;
    color: #AF3F3C;
    padding: 5px 20px;
}

/* Login */
.inscriptionSection {
    width: 500px;
    background: #AF3F3C;
    margin: 0 auto;
    border-width: 0;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 430px;
    box-sizing: border-box;
    display : flex;
    flex-direction: column;
}

#lostMdp {
    height: 200px;
}

.inscriptionSection > * {
    margin : 20px 0;
}

.inscriptionSection label, .inscriptionSection h3, #forgot {
    color: #FFFFFF;
}

.inscriptionSection h3 {
    text-align: center;
}

.inscriptionSection form {
    display : flex;
    flex-direction: column;
}

#buttons{
    box-sizing: border-box;
    text-align: center;
}

.loginButton {
    border: 0;
    width: auto;
    height: 40px;
    background: #FFCECD;
    font-size: 20px;
    line-height: 20px;
    color: #AF3F3C;
    padding: 5px 25px;
    box-sizing: border-box;
    margin: 10px 0;
}

.loginButton:hover {
    background : #FFAAA8 ;
}

.google {
    text-align: center;
}

#forgot{
    display: block;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
}

/* Fighters */
#fightersTitle {
    text-align: center;
}


.hidden {
    display: none;
}