/* Main stylesheet */

table {
    width: auto;
}

tr {
    height: 20px;
}

td {
    width: 50px;
    height: 50px;
    border: solid 1px #000000;
}

section {
    border: solid 1px #000000;
    margin: 10px;
}

dt, dd {
    margin-left: 20px;
}

#fightersNav ul {
    list-style: none;
}

#fightersNav li {
    display: inline-block;
    margin: 5px;
    padding: 0 10px;
    border: solid 1px #000000;
}

.tab {
    cursor: pointer;
}

.selected {
    background-color: #1cc7ff;
}

.hidden {
    display: none;
}

/* Sight */
.infoBlock {
}

.clickable {
    cursor: pointer;
}

#sightMain {
    display: flex;
}

#myInfos {
    flex-grow: 1;
}

#arena {
    flex-shrink: 0;
}

#otherInfo {
    flex-grow: 1;
}

#midColumn {
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border : none;
}