/* Main stylesheet */

table {
    width: auto;
    margin: 40px auto;
}

tr {
    height: 20px;
}

td {
    width: 50px;
    height: 50px;
    border: solid 1px #000000;
}

section {
    border: solid 1px #000000;
    margin: 10px;
}

dt, dd {
    margin-left: 20px;
}

#fightersNav ul {
    list-style: none;
}

#fightersNav li {
    display : inline-block;
    margin : 5px;
    padding : 0 10px;
    border: solid 1px #000000;
}

.selected {
    background-color : #1cc7ff;
}

.hidden {
    display: none;
}